<div class="pagrindinis">



    <h3> Originalus duomenų rinkinys, paimtas iš Stanfordo šunų duomenų rinkinio.</h3> <br> Logotipas dėka NotKnifoon. <br><br>
    PAREMKITE MUS! <br><br>
    
    Ar jums rūpi prieiga prie nemokamų šunų vaizdų internete? Ar norite, kad jūsų šunų nuotraukos būtų pateikiamos <br>
    žaibišku greičiu ir 99,999 % veikimo laiko? Ar jums rūpi DaaS (šunys kaip paslauga)? Padėkite mums apmokėti <br>
    prieglobos sąskaitas ir užtikrinti, kad Dog API būtų laisvai prieinama ir naudojama visiems. Padėkodami <br>
    netgi padovanosime verslo verslo kaklaraištį jūsų augintiniui (ar mažam vaikui).

</div>