<p>soninis-meniu works!</p>

<div class="root">
    <div class="logo">
        <img class="img_style" src="assets/dog-api-logo.svg" alt="">
        <h1>Šuniukų API</h1>
    </div>
    <div class="meniu">
       <br>
       
       <nav>
            <ul><a routerLink="">Pagrindinis</a></ul>
            <ul><a routerLink="/apie">Apie</a></ul>
            <ul><a routerLink="/dokumentacija">Dokumentacija</a></ul>
            <ul><a routerLink="/veisles">Veislių sąrašas</a></ul>
            <ul><a routerLink="/ikelti-suniuka">Įkelti šuniuką</a></ul>
        </nav>
    <br>
    </div>
    <div class="nuorodos">
        <p>Nuorodos</p>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>
</div>





