<div class="root">
    <div class="logo">
        <img class="img_style" src="assets/dog-api-logo.svg" alt="">
        <h1>Šuniukų API</h1>
    </div>
    <div class="meniu">
       <br>
       
       <nav>
            <ul><a routerLink="">Pagrindinis</a></ul>
            <ul><a routerLink="/apie">Apie</a></ul>
            <ul><a routerLink="/dokumentacija">Dokumentacija</a></ul>
            <ul><a routerLink="/veisles">Veislių sąrašas</a></ul>
            <ul><a routerLink="/ikelti-suniuka">Įkelti šuniuką</a></ul>
        </nav>
    <br>
    </div>
    <div class="nuorodos">
        <p>Nuorodos</p>
        <li><a href="https://lese.lt/en/">Lesė</a></li>
        <br>
        <li><a href="https://www.nuaras.lt">Nuaras</a></li>
        <br>
        <li><a href="https://new.sos-gyvunai.lt">Sos gyvūnai</a></li>
        <br>
        <li><a href="https://github.com/johnsnow0/angular-suniukai-api">Mūsų GITHUB</a></li>
        <br>
    </div>
</div>





