<div class="pagrindinis">

  <h1>Didžiausia atvirojo kodo šunų nuotraukų kolekcija internete</h1>
  <br>
  <p> Perskaitykite mūsų dokumentus, kad sužinotumėte daugiau, arba išbandykite patys žemiau.
    <br><br> Norite įtraukti savo šunį į kolekciją? Pateikite savo nuotraukas kaip ištraukimo užklausą čia.
    <br><br> Reikia daugiau šuns savo gyvenime? Gaukite 1 Dog CEO
    Zine numerį – ketvirtinį <br> verslo ir gyvenimo būdo žurnalą,
    skirtą šiuolaikiniam šuniui. <br><br> Išskirtinis interviu su Skotiju
    Monopolio šunimi. <br><br> Užsisakykite kopiją iš Side Orders Publishing.
    Siunta visame pasaulyje.
  </p>


  <span class="code">https://rest-api-uzuotys4.herokuapp.com/suniukas</span>

  <button class="button" (click)="gautiSuni()">Gauti</button>
<br><br><br><br>
  <div class="json-lentele">
    <div>
      <p>JSON</p>
      <pre>{{atvaizduotiObjekta(suo)}}</pre>
    </div>
    <div *ngIf="suo">
      <p>IMAGE</p>
      <img src="{{suo.nuotrauka}}" alt="">
    </div>
  </div>


</div>