.pagrindinis {
    padding-left: 60px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.apiLaukas {
    padding: 12px;
    background-color: rgb(243, 242, 242);
    width: 220px;
}

.code {
    padding: 0.5rem 1rem;
    display: inline-block;
    height: 20px;
    background-color: rgb(231, 231, 231);
}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  .json-lentele{
      display: flex;
      align-items:center;
      justify-content: space-between;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}